<div ng-controller="addOfferController">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-md-12">
                <p ng-if="message">message: {{message}}</p>
                <h4>Add a new Offer</h4>

                <div>
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" ng-model="name">
                    </div>
                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" ng-model="description">
                    </div>
                    <div class="form-group">
                        <label>Shop Id:</label>
                        <input type="text" class="form-control" ng-model="shop_id">
                    </div>
                    <button class="btn btn-default" ng-click="addOffer()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>