<div ng-controller="dashboardController">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class = "panel panel-primary">
                        <div class = "panel-heading">
                            <h3 class = "panel-title">Shop Conroller</h3>
                        </div>

                        <div class = "panel-body">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 span6">
                                    <a class="btn btn-info btn-block" href="#/add-shop">Add Shop</a>
                                </div>
                            </div>
                            <div>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 span6">
                                    <a class="btn btn-info btn-block" ng-click="deleteShop()">Delete Shop</a>
                                </div>
                            </div>
                            <div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class = "panel panel-primary">
                        <div class = "panel-heading">
                            <h3 class = "panel-title">Offer Controller</h3>
                        </div>

                        <div class = "panel-body">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 span6">
                                    <a class="btn btn-info btn-block"  href="/#/add-offer">Add Offer</a>
                                </div>
                            </div>
                            <div>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 span6">
                                    <a class="btn btn-info btn-block"  href="">Delete Offer</a>
                                </div>
                            </div>
                            <div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>