
<div ng-controller="homeController">
    <div ng-repeat="offer in offers" ng-if="$index % 3 == 0" class="row">
        <div class="col-md-4">
            <div class = "panel panel-primary">
                <div class = "panel-heading">
                    <h3 class = "panel-title"><a href="/#/offer/{{offers[$index].id}}">{{offers[$index].name}}</a></h3>
                </div>

                <div class = "panel-body">
                    <p>Rating: {{offers[$index].rating}}</p>
                    <p>{{offers[$index].description}}</p>
                    <p>Offered by: {{offers[$index].shop.name}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4"  ng-show="{{offers[$index+1]}}">
            <div class = "panel panel-primary">
                <div class = "panel-heading">
                    <h3 class = "panel-title"><a href="/#/offer/{{offers[$index+1].id}}">{{offers[$index+1].name}}</a></h3>
                </div>

                <div class = "panel-body">
                    <p>Rating: {{offers[$index+1].rating}}</p>
                    <p>{{offers[$index+1].description}}</p>
                    <p>Offered by: {{offers[$index+1].shop.name}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4" ng-show="{{offers[$index+2]}}">
            <div class = "panel panel-primary">
                <div class = "panel-heading">
                    <h3 class = "panel-title"><a href="/#/offer/{{offers[$index+2].id}}">{{offers[$index+2].name}}</a></h3>
                </div>

                <div class = "panel-body">
                    <p>Rating: {{offers[$index+2].rating}}</p>
                    <p>{{offers[$index+2].description}}</p>
                    <p>Offered by: {{offers[$index+2].shop.name}}</p>
                </div>
            </div>
        </div>

</div>

<!--<div ng-repeat="product in products" ng-if="$index % 3 == 0" class="row">-->
    <!--<div class="col-xs-4">{{products[$index]}}</div>-->
    <!--<div class="col-xs-4">{{products[$index + 1]}}</div>-->
    <!--<div class="col-xs-4">{{products[$index + 2]}}</div>-->
<!--</div>-->