<div ng-controller="loginController">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-6">
                <p>message: {{message}}</p>
                <h4>Login</h4>

                <div>
                    <div class="form-group">
                        <label>Email address:</label>
                        <input type="email" class="form-control" ng-model="login_email">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="login_password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button class="btn btn-default" ng-click="loginClicked()">Submit</button>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Registration</h4>

                <div >
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="email" class="form-control" ng-model="register_name">
                    </div>
                    <div class="form-group">
                        <label>Email address:</label>
                        <input type="email" class="form-control" ng-model="register_email">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="register_password">
                    </div>
                    <button class="btn btn-default" ng-click="registerClicked()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>