<div ng-controller="offerViewController">
    <h4>Name: {{offer.name}}</h4>
    <h4 ng-if="{{offer.rating}}">Rating: {{offer.rating}}</h4>
    <h6>Created at: {{offer.created_at}}</h6>
    <h5>Description: {{offer.description}}</h5>
    <h5>Offerd by: <a href="/#/shop/{{offer.shop.id}}">{{offer.shop.name}}</a></h5>
</div>