<div ng-controller="shopViewController">
    <h4>Name: {{shop.name}}</h4>
    <h6>Page created at: {{shop.created_at}}</h6>
    <h5>Description: {{shop.description}}</h5>
    <h5>Location: {{shop.location}}</h5>
</div>