
<div ng-controller="shopController">
    <div ng-repeat="shop in shops" ng-if="$index % 3 == 0" class="row">
        <div class="col-md-4">
            <div class = "panel panel-primary">
                <div class = "panel-heading">
                    <h3 class = "panel-title"><a href="/#/shop/{{shops[$index].id}}">{{shops[$index].name}}</a></h3>
                </div>

                <div class = "panel-body">
                    <p>{{shops[$index].description}}</p>
                    <p>Location: {{shops[$index].location}}</p>
                    <p>Member since: {{shops[$index].created_at}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4"  ng-show="{{shops[$index+1]}}">
            <div class = "panel panel-primary">
                <div class = "panel-heading">
                    <h3 class = "panel-title"><a href="/#/shop/{{shops[$index+1].id}}">{{shops[$index+1].name}}</a></h3>
                </div>

                <div class = "panel-body">
                    <p>{{shops[$index+1].description}}</p>
                    <p>Location: {{shops[$index+1].location}}</p>
                    <p>Member since: {{shops[$index+1].created_at}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4" ng-show="{{shops[$index+2]}}">
            <div class = "panel panel-primary">
                <div class = "panel-heading">
                    <h3 class = "panel-title"><a href="/#/shop/{{shops[$index+2].id}}">{{shops[$index+2].name}}</a></h3>
                </div>

                <div class = "panel-body">
                    <p>{{shops[$index+2].description}}</p>
                    <p>Location: {{shops[$index+2].location}}</p>
                    <p>Member since: {{shops[$index+2].created_at}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
