<div ng-controller="userViewController">
    <div ng-if="user">
        <h4>Name: {{user.name}}</h4>
        <h5>Email: {{user.email}}</h5>
        <h6>Member since: {{user.created_at}}</h6>
    </div>
</div>